.app-bar{
    background: $gradient-dark-gray;
    box-shadow: $shadow-ud-2;
    display: none;
    width: 100%;
    min-height: 56px;
    padding: 0 16px 0 16px;
    position: fixed;
    z-index: 90;

    @media screen and (max-width: $break-md) {
        display: flex;
        align-items: center;
    }

    .container{
        display: flex;
        align-items: center;

        margin: 0;
        padding: 0;

        .icon-app-bar{
            font-size: 24px;
            color: white;
            margin-right: 32px;
        }

        .title{
            color: white;
            font-size: 16px;
            font-weight: 500;
        }
    }
}