$primary: #F57C00;

$gray100: #D9D9DB;
$gray200: #B3B3B7;
$gray300: #8C8C93;
$gray400: #66666F;
$gray500: #40404B;
$gray600: #303038;
$gray700: #202026;
$gray800: #101013;
$gray900: #000000;

$red200: #FFD3D0;
$red300: #FFA6A1;
$red400: #FE7A71;
$red500: #FE4D42;
$red600: #A9332C;
$red700: #551A16;
$red800: #000000;

$green200: #9CCBB3;
$green300: #6AB28D;
$green400: #6AB28D;
$green500: #077E41;
$green600: #055F31;
$green700: #043F21;
$green800: #022010;

$blue200: #C7DDF2;
$blue300: #90BBE5;
$blue400: #5899D8;
$blue500: #2077CB;
$blue600: #154F87;
$blue700: #0B2844;
$blue800: #000000;

$yellow200: #FFFBD6;
$yellow300: #F7FFAD;
$yellow400: #FEF284;
$yellow500: #FEEE5B;
$yellow600: #A99F3D;
$yellow700: #554F1E;
$yellow800: #000000;

$orange200: #EED199;
$orange300: #E5B966;
$orange400: #DDA233;
$orange500: #D48B00;
$orange600: #9F6800;
$orange700: #6A4600;
$orange800: #352300;