.panel{
    border: none !important;
    box-shadow: $shadow-ud-1;

    .panel-heading{
        background: white;
        border-color: $gray100;
        font-weight: 500;
        padding: 16px 30px 16px 30px;

        &.thin-padding{
            padding: 16px;
        }
    }

    .panel-body{
        padding: 30px;

        &.thin-padding{
            padding: 16px;
        }
    }

    .panel-actions{
        border-style: solid;
        border-width: 1px 0 0 0;
        border-color: $gray100;

        padding: 8px;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    &.panel-default{
        .panel-heading{
            color: $gray300;
        }
    }

    &.panel-primary{
        .panel-heading{
            color: $primary;
        }
    }

    @media screen and (max-width: $break-sm){
        margin-left: -16px;
        margin-right: -16px;
        box-shadow: none;

        .panel-heading{
            border: none;
            padding: 16px;
        }
    
        .panel-body{
            padding: 16px;
        }
    }
}