.panel{
    border: none !important;
    box-shadow: $shadow-ud-1;

    .panel-heading{
        background: white;
        color: $gray300;
        font-weight: 500;
        padding: 16px 30px 16px 30px;
    }

    .panel-body{
        padding: 30px;
    }

    .panel-actions{
        border-style: solid;
        border-width: 1px 0 0 0;
        border-color: $gray100;

        padding: 8px;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}