@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

html, body, .container-fluid{
    font-family: 'Roboto', sans-serif;
}

h1, .jumbotron h1{
    color: $gray400;
    font-size: 36px;
    font-weight: 300;
    line-height: 0.85;
    margin-bottom: 30px;

    small{
        color: $gray500;
        font-size: 18px;
        font-weight: 500;
    }
}

.jumbotron h1{
    color: $primary;
}

.page-header{
    border-bottom: 1px solid $gray200;
    padding-top: 64px;
    margin-top: 0;
    margin-bottom: 32px;

    h1{
        margin: 0 0 10px 0;
    }
}

h2{
    color: $primary;
    font-weight: 400;
    font-size: 22px;
    margin-top: 24px;
    margin-bottom: 16px;
}

h3{
    color: $gray300;
    font-weight: 500;
    font-size: 16px;
    margin-top: 16px;
    margin-bottom: 12px;
}

.container .jumbotron, .container-fluid .jumbotron,.jumbotron{
    p{
        color: $gray500;
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
    }
}

.panel{
    h1, h2, h3{
        margin: 0px;
    }
}

.login-screen{
    h1{
        color: white;
        font-size: 36px;
        font-weight: 300;
        text-align: center;
    }

    p{
        color: $gray200;
        margin: 30px 0 0 0;
        text-align: center;
    }
}

.illustration-icon{
    font-size: 248px;
    color: $gray100;
}