@import 'components/palette';
@import 'components/gradients';
@import 'components/animations';
@import 'components/shadows';

@import 'components/icons';
@import 'components/layout';
@import 'components/sidebar';
@import 'components/app-bar';
@import 'components/forms';
@import 'components/typography';
@import 'components/buttons';
@import 'components/tables';
@import 'components/cards';
@import 'components/alerts';
@import 'components/lists';
@import 'components/panels';
@import 'components/img';