.form-group{
    height: 48px;

    .form-control{
        border-width: 0px 0px 1px 0px;
        border-radius: 0;
        box-shadow: initial;
        font-size: 16px;
        padding: 0px;
        transition: $tlabels;
    }

    label{
        font-size: 16px;
        font-weight: 400;
        position: relative;
        transition: $tlabels;
        top: 33px;

        &.label-outside-form{
            font-size: 12px;
            top: 8px;
        }
    }
}

.form-group-focused{
    .form-control{
        border-color: $primary;
        border-width: 0px 0px 2px 0px;
        box-shadow: initial;
    }

    label{
        color: $primary;
    }
}