$break-xs: 768px;
$break-sm: 991px;
$break-md: 1200px;
$break-lg: 999999px;

html, body, .container-fluid{
    height: 100%;
}

.container-fluid{
    overflow-y: scroll;
    padding: 50px 50px 50px 30px;
}

.modal{
    background-color: transparentize($gray700, 0.35);
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 999;
}

.wrapper{
    display: flex;
    height: 100%;
    overflow: hidden;
}

#content{
    position: relative;

    @media screen and (max-width: $break-sm) {
        margin-top: 56px;
        padding: 24px;    
    }
}