$shadow-ud-1: -1px -1px 4px rgba(0,0,0,0.08), 0 1px 4px rgba(0,0,0,0.08), 0 1px 3px rgba(0,0,0,0.24);
$shadow-ud-2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$shadow-ud-3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
$shadow-ud-4: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
$shadow-ud-5: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

$shadow-du-1: 0 -1px 3px rgba(0,0,0,0.12) inset, 0 -1px 2px rgba(0,0,0,0.24) inset;
$shadow-du-2: 0 -3px 6px rgba(0,0,0,0.16) inset, 0 -3px 6px rgba(0,0,0,0.23) inset;
$shadow-du-3: 0 -10px 20px rgba(0,0,0,0.19) inset, 0 -6px 6px rgba(0,0,0,0.23) inset;
$shadow-du-4: 0 -14px 28px rgba(0,0,0,0.25) inset, 0 -10px 10px rgba(0,0,0,0.22) inset;
$shadow-du-5: 0 -19px 38px rgba(0,0,0,0.30) inset, 0 -15px 12px rgba(0,0,0,0.22) inset;


$shadow-lr-1: 1px 0 3px rgba(0,0,0,0.12), 1px 0 2px rgba(0,0,0,0.24);
$shadow-lr-2: 3px 0 6px rgba(0,0,0,0.16), 3px 0 6px rgba(0,0,0,0.23);
$shadow-lr-3: 10px 0 20px rgba(0,0,0,0.19), 6px 0 6px rgba(0,0,0,0.23);
$shadow-lr-4: 14px 0 28px rgba(0,0,0,0.25), 10px 0 10px rgba(0,0,0,0.22);
$shadow-lr-5: 19px 0 38px rgba(0,0,0,0.30), 15px 0 12px rgba(0,0,0,0.22);