.sidebar{
    background: linear-gradient(to right, $gray500 , $gray600);
    box-shadow: $shadowT3;
    color: $gray100;
    height: 100%;
    min-width: 256px;
    position: sticky;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li{
            a{
                color: $gray300;
                display: block;
                padding: 20px 0 20px 36px;

                &[aria-expanded=true]{
                    box-shadow: $shadow3;
                }
            }

            &.active{
                background-color: $gray600;
                border-image: linear-gradient(to bottom, $red, $yellow) 1 100%;;
                border-style: solid;
                border-width: 0 0 0 6px;

                a{color: white;}
            }

            ul{
                &.collapse, &.collapsing{
                    a{
                        background-color: transparent;
                        border: none;
                        color: $gray300;
                        display: block;
                        padding: 16px 0 16px 56px;
                    }

                    &+ li{
                        box-shadow: 0 -10px 20px rgba(0,0,0,0.19), 0 -6px 6px rgba(0,0,0,0.23);
                    }
                }
            }
        }
    }

    .app-name{
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 128px;

        h3{
            font-size: 36px;
            font-weight: 100;
        }
    }
}