.table{
    box-shadow: $shadow-ud-1;
    border: 1px solid rgba($gray100, 0.5);
    border-bottom: 0;
    border-radius: 4px;
    border-collapse: separate !important;

    .checkbox{
        margin: 0;
        text-align: center;

        input{
            position: relative;
            margin: 0;
        }
    }

    thead{
        tr{
            th{
                padding: 13px;
                border: none;
            }
        }
    }
    
    tbody{
        tr{
            &:hover{
                background-color: rgba($gray100, 0.5);
            }

            td{
                padding: 13px;
            }
        }
    }

    &.table-condensed{
        thead{
            tr{
                th{
                    padding: 4px 8px 4px 8px;
                }
            }
        }

        tbody{
            tr{
                td{
                    padding: 4px 8px 4px 8px;
                }
            }
        }
    }

    &.table-fixed-header{
        overflow-y: auto;

        table{
            table-layout:fixed;
        }
        
        .table{
            margin: 0;
            border: none;
        }

        .fixed-header{
            position: sticky;
            top: 0;
            left: 0;

            .table{
                box-shadow: none;
            }

            table{
                thead{
                    tr{
                        th{
                            border-color: rgba($gray100, 0.5);
                            border-style: solid;
                            border-width: 0 0 1px 0;
                        }
                    }
                }
            }
        }

        .fixed-body{
            
        }
    }
}

.table-responsive{
    box-shadow: $shadow-ud-1;
    border: none;

    .table{
        box-shadow: none;
        border: none;
        margin-bottom: 0;
    }
}